{% extends 'base.html.twig' %}

{% block pageheader %}<div class="display-1">Application Directory</div>
{% endblock %}

{% block body %}
<h1>How to use Application Directory</h1>
<p>An <strong>application</strong> can have multiple <strong>deployments</strong>, each of which can reside on zero or more <strong>servers</strong>.</p>
<p><strong>Applications</strong> can be defined as <em>internal</em>, <em>vendor</em> or <em>cloud</em>.</p>
<p>An <strong>application connection</strong> defines when an <strong>application</strong> needs to connect to another <strong>application</strong>.</p>
<p>A <strong>deployment connection</strong> defines an instance of an <strong>application connection</strong>, describing <em>which</em> <strong>deployment</strong> of the client <strong>application</strong> connects to which <strong>deployment</strong> of the server <strong>application</strong>.</p>
{% endblock %}
